@model STD_Course_Management.Models.CourseConfirm
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-2">
    Full Name
</div>
<div class="col-3">
    <input asp-for="@Model.Std_Id" readonly class="form-control" />
</div>