@model STD_Course_Management.ViewModels.RegCrsVM
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="col-6">
    @* Partial View *@
    <partial name="~/Views/Shared/_CourseConfirm.cshtml" model="Model.Courses" />
</div>
